:root {
  --red-text-color: #d41443;
  --white-color: #fff;
  --black-color: #000;
  --header-bg-color: rgba(255, 184, 202, 1);
  --accent-color: #d41443;
  --pink-color: #ffa5ba;
  --background: #fff5f6;
  --dark-pink-color: #907e82;
  --menu-bg: #e17992;
  --menu-border: #e18298;
  --1-products: #ffb8ca;
  --2-products: #f0d1a5;
  --3-products: #c2e297;
}
