.header {
  background-color: var(--header-bg-color);
  > .container {
    padding: 6px 20px 0px 20px;
    width: 100%;
  }
}
.nav {
  @include tablet {
    display: flex;
    justify-content: center;
    padding: 37px 16px 0 16px;
    align-items: center;
  }
}

.header-logo-link {
  // margin-right: 128px;
  margin-right: 61px;
  // margin-left: 20px;
  margin-top: 8px;
}
.site-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.site-nav-list {
  display: none;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-right: 141px;
    gap: 35px;
  }
}
.site-nav-item {
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  &.current {
    color: var(--red-text-color);
  }
}
.header-button {
  display: none;
  @include tablet {
    background-color: var(--white-color);
    border-style: none;
    border-radius: 22px;
    width: 159px;
    height: 44px;
    color: var(--red-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }
}

// Burger menu
.menu-button {
  background-color: transparent;
  border-style: none;
  display: block;
  @include tablet {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--menu-bg);
  top: 0;
  z-index: 999;
  transform: translateX(120%);
  transition: transform 250ms ease-in-out;
  > .container {
    padding: 60px 20px 0 20px;
  }
  @include tablet {
    display: none;
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.menu-nav {
  text-align: center;
}
.menu-buy-button {
  background-color: var(--white-color);
  width: 209px;
  height: 44px;
  border-style: none;
  border-radius: 22px;
}
.menu-nav-list {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
}
.menu-nav-item {
  padding-top: 13px;
  padding-bottom: 11px;
  border-top: 1px solid var(--menu-border);
  border-bottom: 1px solid var(--menu-border);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--white-color);
  &.current {
    color: var(--red-text-color);
  }
}
.menu-button {
  width: 20px;
  height: 14px;
  &.js-close-menu {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 30px;
    right: 25px;
  }
}
