.hero {
  background-color: var(--header-bg-color);
  height: 450px;
  position: relative;
  > .container {
    padding: 0 20px;
  }
}
.hero-info {
  display: none;
}

.hero-main-info {
  display: flex;
  flex-direction: column;
}
.hero-title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  z-index: 4;
  margin-top: 136px;
  width: 218px;
  color: var(--white-color);
  &-span {
    font-size: 48px;
    line-height: 0.95;
    color: var(--accent-color);
  }
}
.hero-list {
  display: flex;
  flex-direction: row;
  z-index: 4;
  gap: 10px;
}
.hero-item {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &.products {
    background-color: var(--accent-color);
    width: 63px;
    height: 24px;
    color: var(--white-color);
  }
  &.how {
    background-color: var(--white-color);
    width: 83px;
    height: 24px;
    color: var(--accent-color);
  }
}
.icecream-bg {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 1;
}

.hero-add-info {
  display: none;
}
